inputs_def:
  - handle: audio_file
    description: "%input-audio-file-to-be-separated-into-different-instrument-stems2%"
    json_schema:
      type: string
      ui:widget: file
  - group: Advanced Options
    collapsed: true
  - handle: output_dir
    description: "%output-directory-location-to-save-the-separated-stem-files2%"
    json_schema:
      type: string
      ui:widget: dir
    nullable: true
    value: null
  - handle: output_base_name
    description: "%output-base-name-custom-name-for-output-files-optional-defaults3%"
    json_schema:
      type: string
    nullable: true
    value: null
outputs_def:
  - handle: vocals
    description: "%output-separated-vocals-track-file%"
    json_schema:
      type: string
      ui:widget: file
    nullable: false
  - handle: drums
    description: "%output-separated-drums-track-file%"
    json_schema:
      type: string
      ui:widget: file
    nullable: false
  - handle: guitar
    description: "%output-separated-guitar-track-file%"
    json_schema:
      type: string
      ui:widget: file
    nullable: false
  - handle: piano
    description: "%output-separated-piano-track-file%"
    json_schema:
      type: string
      ui:widget: file
    nullable: false
  - handle: bass
    description: "%output-separated-bass-track-file%"
    json_schema:
      type: string
      ui:widget: file
    nullable: false
  - handle: other
    description: "%output-other-separated-instruments-track-file%"
    json_schema:
      type: string
      ui:widget: file
    nullable: false
ui:
  default_width: 652.6403204215783
executor:
  name: python
  options:
    spawn: false
    entry: __init__.py
title: "%split-by-stem2%"
icon: ":twemoji:guitar:"
description: "%this-block-separates-audio-files-into-individual-instrument-stem%"
